<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<%=foodstats.name%>
<%=foodstats.calories%>
<%=foodstats.protein%>
<%=foodstats.carbohydrates%>
<%=foodstats.fat%>
<%=foodstats.fiber%>
<%=foodstats.sugar%>

  </body>
</html>
