<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<%=foodstats.name%>
<%=foodstats.calories%>
<%=foodstats.protein%>
<%=foodstats.carbohydrates%>
<%=foodstats.fat%>
<%=foodstats.fiber%>
<%=foodstats.sugar%>

<form action='/FoodIndex/<%=foodstats._id%>' method="POST">
  <button>Add to personal show page</button>
</form>
  </body>


</html>
