<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/servingsize.css">
  </head>
  <body>
    <h3>Name: <%=userInfo[0].foodinformation[index].name%><br></h3>
    <h3>Calories: <%=userInfo[0].foodinformation[index].calories%><br></h3>
    <h3>Protein: <%=userInfo[0].foodinformation[index].protein%><br></h3>
    <h3>Carbohydrates: <%=userInfo[0].foodinformation[index].carbohydrates%><br></h3>
    <h3>Fat: <%=userInfo[0].foodinformation[index].fat%><br></h3>
    <h3>Fiber: <%=userInfo[0].foodinformation[index].fiber%><br></h3>
    <h3>Sugar: <%=userInfo[0].foodinformation[index].sugar%><br></h3>
    <h3>Serving Size:<%=userInfo[0].foodinformation[index].servingsize%> grams<br></h3>
    <form action="/Nutrition/<%=userInfo[0]._id%>/<%=index%>" method="post">
      <h3>Number of serving sizes:</h3><input type="text" name="numberofservingsize" value="<%=userInfo[0].foodinformation[index].numberofservingsize%>" required><br/><br/>
      <button class="btn btn-primary" type="submit">Set serving size</button>
    </form>
    <form method='get' action="/Nutrition/<%=id%>/">
      <button class="btn btn-primary">Back to personal page</button>
    </form>
  </body>
</html>
