<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
Recommended calories:<%=userInfo[0].calories%><br/>
Info:<br/>
    Name: <%=userInfo[0].name%><br/>
    Age:  <%=userInfo[0].Age%><br/>
    Sex:  <%=userInfo[0].Sex%><br/>
    Weight:  <%=userInfo[0].Weight%><br/>
    Height:  <%=userInfo[0].Height%><br/>
    Activity level:  <%=userInfo[0].ActivityLevel%><br/>
    Goal:  <%=userInfo[0].Goal%><br/>
    <form method='get' action="/FoodIndex/">
      <button>View food index</button>
    </form>
    Selected Items:
    <form action="/Nutrition/<%=userInfo[0]._id%>/edit" >
        <button>Edit</button>
    </form>
    <ul>
    <%for(let i = 0;i<userInfo[0].foodinformation.length;i++){%>
      <li><%=userInfo[0].foodinformation[i].name%></li>
    <%}%>
  </ul>
  </body>
</html>
