<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/show.css">
  </head>
  <body>
    <ul class= "stats">
    <h3><li>Recommended calories:<%=userInfo[0].calories%></li></h3>
    <h3><li>Name: <%=userInfo[0].name%></li></h3>
    <h3><li>Age:  <%=userInfo[0].Age%></li></h3>
    <h3><li>Sex:  <%=userInfo[0].Sex%></li></h3>
    <h3><li>Weight:  <%=userInfo[0].Weight%> KG</li></h3>
    <h3><li>Height:  <%=userInfo[0].Height%> CM</li></h3>
    <h3><li>Activity level:  <%=userInfo[0].ActivityLevel%></li></h3>
    <h3><li>Goal:  <%=userInfo[0].Goal%></li></h3>
  </ul>
    <form method='get' action="/FoodIndex/">
      <button class="btn btn-primary">View food index</button>
    </form>
    <form action="/Nutrition/<%=userInfo[0]._id%>/edit" >
        <button class="btn btn-primary">Edit</button>
    </form>
    <h3 class="selected">Selected Items:</h3>

    <form method='get' action="/Nutrition/<%=userInfo[0]._id%>/new">
        <button class="btn btn-primary">Add a new food item</button>
      </form>
      <table>
        <tr>
          <th><h3>Name</h3></th>
          <th><h3>Calories</h3></th>
          <th><h3># of servings</h3></th>
          <th><h3>Remove</h3></th>
        </tr>
        <%for(let i =0;i<userInfo[0].foodinformation.length;i++){%>
          <tr>
            <td><h3><a href="<%=i%>"><%=userInfo[0].foodinformation[i].name%></a></h3></td>
            <td><h3><%=userInfo[0].foodinformation[i].totalCalories%></h3></td>
            <td><h3><%=userInfo[0].foodinformation[i].numberofservingsize%></h3></td>
            <td><form action ="/Nutrition/<%=userInfo[0].foodinformation[i]._id%>?_method=DELETE" method="POST">
              <button class="btn btn-primary" type="submit">DELETE</button>
                <!-- <input type="submit" value="DELETE"/> -->
            </form></td>
          </tr>
        <%}%>
        <tr>
          <th><h3>Total</h3></th>
          <th><h3 <%if(totals>userInfo[0].calories){%>
            style="color:red"
          <%}%>
            ><%=totals%></h3></th>
        </tr>
      </table>
  </body>
</html>
