<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
Recommended calories:<%=userInfo[0].calories%><br/>
Info:<br/>
    Age:  <%=userInfo[0].Age%><br/>
    Sex:  <%=userInfo[0].Sex%><br/>
    Weight:  <%=userInfo[0].Weight%><br/>
    Height:  <%=userInfo[0].Height%><br/>
    Activity level:  <%=userInfo[0].ActivityLevel%><br/>
    Goal:  <%=userInfo[0].Goal%><br/>
    <form method='get' action="/FoodIndex/">
      <button>View food index</button>
    </form>
    Selected Items:
  </body>
</html>
